@import '../sections/shared';
@import '../sections/carousel';
@import '../sections/cardsPacks';
@import '../sections/faqs';
@import '../sections/contact-form';


.text {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(../../images/estudar_trabalhar.png) no-repeat 50% 50%;
  background-size: cover;
  mix-blend-mode: overlay;
  z-index: 10;
}
