.form-questions-section {
  .box-flex-texts-img {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .box-texts {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 70px;

    p {
      font-size: 12px;
      margin-bottom: 20px;
    }

    h5 {
      text-align: center;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.275em;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    h4 {
      font-size: 1.875em;
      text-align: center;
      margin: 0;
    }
  }

  .box-container-texts {
    max-width: 50%;
  }

  .box-container-img {
    margin: 0;
    width: 50%;
    max-width: 100%;
  }

  .image-container-form {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.box-container-forms {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .grid-container-box-50 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;

    .box-fields-box-50 {
      width: 100%;
      display: flex;

      input {
        padding: 10px 0px 10px 20px;
        width: 100%;
        outline: none;
        font-weight: 500;
        font-size: 14px;
        border-radius: 10px;
        border: 1px solid #000;
        color: #333;
        background: transparent;
        letter-spacing: 0.5px;
      }
    }
  }

  .box-fields {
    width: 100%;
    display: flex;
    margin-top: 20px;

    input {
      width: 100%;
      padding: 10px 20px;
      outline: none;
      font-weight: 500;
      font-size: 14px;
      border-radius: 10px;
      border: 1px solid #000;
      color: #333;
      background: transparent;
      letter-spacing: 0.5px;
    }

    select {
      width: 100%;
      padding: 10px 20px;
      outline: none;
      font-weight: 500;
      font-size: 14px;
      border-radius: 10px;
      border: 1px solid #000;
      color: #333;
      background: transparent;
      letter-spacing: 0.5px;
    }

    p {
      font-size: 12px;
    }

    .textarea {
      width: 100%;

      p {
        margin-bottom: 20px;
      }

      textarea {
        width: 100%;
        border-radius: 5px;
        resize: none;
        border: 1px solid #000;
        color: #333;
      }
    }
  }

  .select-field {
    .btn-standard {
      background-color: #f1f1f1;
      min-width: 130px;
      min-height: 55px;
      outline: none;
      color: #fff;
      font-size: 14px;
      line-height: 15px;
      text-align: center;
      cursor: pointer;
      border: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      letter-spacing: -0.005em;

      border-radius: 30px;
      color: #000;
      width: 100%;

      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 900px) {
  .box-container-img {
    display: none;
  }

  .box-texts {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    p {
      font-size: 12px;
    }
  }

  .form-questions-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    margin-top: 0px;
  }

  .form-questions-section .box-container-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-questions-section .box-container-forms .box-fields {
    width: 100%;
  }

  .form-questions-section .box-container-forms .box-fields input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    border-radius: 30px;
    border: 1px solid #000;
    color: #333;
    background: transparent;
    letter-spacing: 0.5px;
  }

  .form-questions-section .box-container-forms .box-fields select {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    border-radius: 30px;
    border: 1px solid #000;
    color: #333;
    background: transparent;
    letter-spacing: 0.5px;
  }

  .box-container-img {
    display: none;
  }

  .box-container-texts {
    max-width: 100%;
    margin: 0 auto;
  }

  .form-questions-section .box-container-texts {
    max-width: 100%;
  }

  .box-container-texts {
    .box-texts {
      padding: 30px;
    }
  }
}

@media (max-width: 900px) and (max-height: 700px) {
  /* FORM ENTRAR EM CONTATO - ESPECIALISTAS */

  .box-texts {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    p {
      font-size: 12px;
    }
  }

  .form-questions-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    margin-top: 0px;
  }

  .form-questions-section .box-container-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-questions-section .box-container-forms .box-fields {
    width: 100%;
  }

  .form-questions-section .box-container-forms .box-fields input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    border-radius: 30px;
    border: 1px solid #000;
    color: #333;
    background: transparent;
    letter-spacing: 0.5px;
  }

  .form-questions-section .box-container-forms .box-fields select {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    border-radius: 30px;
    border: 1px solid #000;
    color: #333;
    background: transparent;
    letter-spacing: 0.5px;
  }

  .box-container-img {
    display: none;
  }

  .box-container-texts {
    max-width: 100%;
    margin: 0 auto;
  }

  .form-questions-section .box-container-texts {
    max-width: 100%;
  }

  .box-container-texts {
    .box-texts {
      padding: 30px;
    }
  }

  @media (max-width: 450px) and (min-width: 200px) {
    .box-container-forms {
      display: flex;
      flex-direction: row;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .grid-container-box-50 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 20px;

        .box-fields-box-50 {
          width: 100%;
          display: flex;

          input {
            padding: 10px 0px 10px 20px;
            width: 100%;
            outline: none;
            font-weight: 500;
            font-size: 10px;
            border-radius: 10px;
            border: 1px solid #000;
            color: #333;
            background: transparent;
            letter-spacing: 0.5px;
          }
        }
      }

      .box-fields {
        width: 100%;
        display: flex;
        margin-top: 20px;

        input {
          width: 100%;
          padding: 10px 20px;
          outline: none;
          font-weight: 500;
          font-size: 10px;
          border-radius: 10px;
          border: 1px solid #000;
          color: #333;
          background: transparent;
          letter-spacing: 0.5px;
        }

        select {
          width: 100%;
          padding: 10px 20px;
          outline: none;
          font-weight: 500;
          font-size: 10px;
          border-radius: 10px;
          border: 1px solid #000;
          color: #333;
          background: transparent;
          letter-spacing: 0.5px;
        }

        p {
          font-size: 12px;
        }

        .textarea {
          width: 100%;

          p {
            margin-bottom: 20px;
          }

          textarea {
            width: 100%;
            border-radius: 5px;
            resize: none;
            border: 1px solid #000;
            color: #333;
          }
        }
      }

      .select-field {
        .btn-standard {
          background-color: #f1f1f1;
          min-width: 130px;
          min-height: 55px;
          outline: none;
          color: #fff;
          font-size: 14px;
          line-height: 15px;
          text-align: center;
          cursor: pointer;
          border: 1px solid #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 15px;
          letter-spacing: -0.005em;

          border-radius: 30px;
          color: #000;
          width: 100%;

          margin-top: 20px;
        }
      }
    }
  }
}